<div class="footer d-flex bd-highlight mb-3">
  <div class="p-2 bd-highlight">
    <%= link_to "https://github.com/Poozagg", class: "footer-link", target: "_blank" do %>
      <i class="link-icon fab fa-github"></i>
    <% end %>
  </div>

  <div class="p-2 bd-highlight">
    <%= link_to "https://www.linkedin.com/in/pooja-gurung-o/", class: "footer-link", target: "_blank" do %>
      <i class="link-icon fa-brands fa-linkedin"></i>
    <% end %>
  </div>

  <div class="footer-copyright p-2 bd-highlight">
    © Pooja Gurung <i class="fas fa-heart"></i>
  </div>
</div>
