<div class="about-me">
  <div class="row intro d-flex justify-content-between">
    <div class="col-12 col-lg-6 p-2 bd-highlight">
      <h1 class="name">Pooja Gurung</h1>
      <h3 class="job-tile"> Full-Stack Web Developer </h3>
    </div>
    <div class="col-12 col-lg-6">
        <%= image_tag "MY_IMAGE.png", class: "profile-pic" %>
    </div>
  </div>
  <div id="about-me-short-description" class="short-para-about-me mt-4">
      <p>
        Hi 👋🏼, I'm Pooja, a full-stack engineer with a background in civil engineering and over 5 years of industry experience.
        I successfully transitioned to technology through the Le Wagon coding bootcamp in London, excelling in Ruby on Rails, HTML, CSS,
        and JavaScript. During this journey, I launched web applications like <strong> SlopeRentals </strong> and <strong> WasteNot </strong>.

        Now actively seeking opportunities to merge my problem-solving skills from engineering with coding expertise, I am eager to contribute, learn, and thrive in a dynamic tech environment. My unique blend of engineering acumen and full-stack proficiency makes me a valuable asset to any team.
      </p>
  </div>
</div>
