<div class="about-me">
  <div class="intro d-flex justify-content-between">
    <div class="name-job d-flex flex-column">
      <div class="name p-2 bd-highlight">
        <h1>Pooja Gurung</h1>
      </div>
      <div class="job-title p-2 bd-highlight">
        <h3>
          Full-Stack Web Developer
        </h3>
      </div>
    </div>
    <div class="short-job-description flex-shrink-1">
      <p>
        I am a full-stack web developer with a background in Civil Engineering. I am passionate about building web applications that are user-friendly and intuitive. I am a quick learner and a team player who is always eager to learn new technologies and skills.
      </p>
    </div>

  </div>
  <div class="short-para-about-me">
      <p>
        I am a full-stack web developer with a background in Civil Engineering. I am passionate about building web applications that are user-friendly and intuitive. I am a quick learner and a team player who is always eager to learn new technologies and skills.
      </p>
  </div>
</div>
