<div class="about-me">
  <div class="row intro d-flex justify-content-between">
    <div class="col-12 col-lg-6 p-2 bd-highlight">
      <h1 class="name">Pooja Gurung</h1>
      <h3 class="job-tile"> Full-Stack Web Developer </h3>
    </div>
    <div class="col-12 col-lg-6">
        <%= image_tag "MY_IMAGE.png", class: "profile-pic" %>
    </div>
  </div>
  <div id="about-me-short-description" class="short-para-about-me mt-4">
      <p>
        I'm an experienced Civil Engineer with 5+ years in the field, now transitioning to a tech enthusiast. I recently graduated from Le Wagon coding bootcamp in London, mastering full-stack web development with Ruby on Rails, HTML, CSS, and JavaScript. I've launched web applications like SlopeRentals and WasteNot.
        With a solid background in both engineering and technology, I'm actively seeking a role to apply problem-solving skills from engineering and coding expertise. Eager to contribute, learn, and thrive in a dynamic tech environment, I bring a unique blend of engineering and tech skills. Let's connect!
      </p>
  </div>
</div>
