<div class="aboutme-container">
  <h3>About Me </h3>
    <div class="short-para-about-me mt-3">
      <p >
        Hello! 👋🏼 I'm Pooja, a Design Engineer transitioning into Software Development. With a background in Civil Engineering, I bring strong problem-solving skills, meticulous attention to detail, and a curious mindset to the table.
        <br>
        <br>
        Having recently completed Le Wagon's coding bootcamp, I've honed my skills in full-stack web development and built applications like SlopeRentals and WasteNot. Currently immersing myself in the MERN stack, my curiosity as a developer drives me to explore new technologies and embrace continuous learning.
        <br>
        <br>
        Beyond my technical abilities, my background in Civil Engineering has equipped me with project management skills, a strong analytical mindset, and the ability to thrive in dynamic environments. I'm also proficient in communication, teamwork, and adapting to diverse challenges.
        <br>
        <br>
        Seeking a role in full-stack development, I'm eager to merge my engineering background with software development, contributing fresh perspectives and innovative solutions to the team.
        <br>
        <br>
        Excited for the opportunities ahead!
        <%# Now actively seeking opportunities to merge my problem-solving skills from engineering with coding expertise, I am eager to contribute, learn, and thrive in a dynamic tech environment. My unique blend of engineering acumen and full-stack proficiency makes me a valuable asset to any team. %>
      </p>
    </div>
</div>
