<div mt-3>
  <h3> Follow Me!! </h3>
  <div class="cards">
    <div class="contact-card-category">
      <p class="card-text bg-light">
      </p>
      <%= link_to "https://github.com/Poozagg", class: "card-link" do %>
        <i class="fab fa-github"></i>
      <% end %>
    </div>
    <div class="contact-card-category">
      <p class="card-text bg-light">
      </p>
      <%= link_to "https://www.linkedin.com/in/pooja-gurung-o/", class: "card-link" do %>
        <i class="fa-brands fa-linkedin"></i>
      <% end %>
    </div>
  </div>
</div>
