<div class="aboutme-container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <%= render "about_me" %>
    </div>
    <div class="col-12 col-lg-6">
      <%= render "technical_skills" %>
    </div>
  </div>
</div>
