.container {
  padding: 20px;
  // height: 80%;
}
.aboutme-container {
  padding: 20px;
  // height: 80%;
}
.short-para-about-me {
  width: 100%;
  background-color: #adefeb;
  // background-color: $success;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;

}

.name-job{
  width: 70vh;
}

.name {
  font-size: 60px;
  margin-bottom: 25px;
}

.job-title {
  font-size: 70px;
}
.profile-pic{
  border-radius: 50%;
  display: block;
  height: 40vh;
  width: 40vh;
}
@media (min-width: 992px) {
  .profile-pic{
    margin-left: 100px;
    margin-right: 50px;
  }
  .container {
    margin-top: 75px;
  }
  }
