html{
  position:relative;
  min-height: 100%;
}
.footer {
  // margin-top: 30px;
  background: #e7e3e367;
  // display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 0px 30px;
  color: rgba(0,0,0,0.3);
  // margin-right: 45px;
  position: absolute;
  bottom: -17px;
  left: 0;
  right: 0;
}
.footer .fa-heart {
  color: #D23333;
}

// .fa-github {
//   width: 50px;
//   height: 50px;
// }
.link-icon {
  font-size: larger;
  color: grey;
}
.link-icon:hover {
  cursor: pointer;
  color: black;
}
.footer-copyright {
  font: 15px;
}
