.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.contact-card-category {
  background-color: #fcf6bd;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 10px;
  text-align: center;
}
.contact-card-category:hover {
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
  background-color: pink;
  .fab {
      color: white;
    }
  .fa-brands {
      color: white;
    }
  a[href^="mailto:"]::before {
    color: white !important;
  }
}


.personal-github-link {
  color: lightgray;
  letter-spacing: 20px;
  font-size: 60px;
}

.fa-brands {
  color: lightgray;
  letter-spacing: 20px;
  font-size: 60px;
}

// .contact-card-category {
//   overflow: hidden;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   position: relative; // NEEDED FOR THE LINK
// }
// // To stretch the link on top of the card div
// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .card-link {
//     position: absolute;
//     width: 100%;
//     }
//   }
