.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-lewagon {
  justify-content: space-between;
  background: $pink;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}
.nav-link{
  font-size: 25px;
}
.nav-item:hover {
  background-color: #f4d0e1;
  color: white;
  border-radius: 5px;
  // padding: 5px;
  // margin: 5px;
}
