// ----------------! css for link to particular project on the page !--------------

.link-to-a-project {
  background-color: #a0c4ff;
  list-style-type: none;
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 25px;
  width: auto;
  margin-right: 20px;
  border-color: lightgray;

}

.link-to-a-project:hover {
  background-color: pink;
  color: white;
}
.link-to-a-project > a:hover {
  background-color: pink;
  color: white;
}

.link-to-a-project a {
  text-decoration: none;
  color: black;
}
// ----------------! css for project card !--------------
.project-card{
  background-color: #e4c1f9;
  border-radius: 10px;
  padding: 10px;
  // margin-top: 20px;
  margin-bottom: 1rem;
  min-height: 430px;
  // height: fit-content;
}
.carousel-item img {
  height: 300px;
  width: 100%;
  object-fit: contain;
  background-color: white;
  border-radius: 10px;
}
.project-github-link {
  color: black;
//   letter-spacing: 20px;
  font-size: 25px;
}
.project-github-link:hover {
  cursor: pointer;
  transform: scale(1.5);
}
.project-info-link {
  color: black;
  font-size: 25px;
}
.project-info-link:hover {
  cursor: pointer;
  transform: scale(1.5);
}
.project-tech-stack {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, auto));
  // grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  grid-row-gap: 0.5rem;
  height: fit-content;
  justify-items: flex-start;
}
// ---------------!link to website!-------------

.project-website-link {
  color: black;
  font-size: 20px;
}
.project-website-link:hover {
  cursor: pointer;
  transform: scale(1.5);
}
